/*

Copyright 

Rychi Co. 2021

NO COPYING OR U DIE

*/

* {
  font-family: 'Syne Mono', monospace;
}

body {
  margin:0;
  height: 100em;
  overflow-x:hidden;
}

.header-logo {
  display:flex;
  justify-content: center;
}

#logo {
  width:100px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width:100%;
  background-color: #685642;
}

.header-content{
  display:flex;
  justify-content: center;
  align-items:center;
}

.dropbtn {
  background-color: #685642;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor:pointer;
  width:150px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #B3A580;
  transition: 0.2s;
  color:white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #B3A580;
  transition: 0.2s;
}

/*
.divide {
  height:1000px;
}
*/

.main {
  width:100%;
  height:500px;
  background-image:url("img/front.jpg");
}

/*
.map {
  position:absolute;
  width:100%;
}

iframe.map{
  width:100%;
}

*/

.mySlides {display: none;}
.slide-content {
  vertical-align: middle;
  overflow:hidden;
  object-fit:cover;
  height:500px;
  width:100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  margin: auto;
}

/* Caption text */
/*
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/

.motto {
  width:100%;
  text-align:center; 
  border-top: solid 2px black;
  border-bottom:solid 2px black;
}

.layer-1 {
}

.photo-row{
  display:flex;
  justify-content:center;
  overflow-y:hidden;
}

.photo{
  width:33%;
  height:auto;
  overflow:hidden;
  background-size: cover;
  margin:2px;
  padding:50px;
}

.photo:before {
  content: "";
  float: left;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.photo-button{
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0);
  transition:0.2s;
  opacity:0;
  font-size:1em;
}

.photo-button:hover{
  opacity:1;
  background-color:rgba(255,255,255,.4);
}

#photo-1{
  background-image:url("img/drink1.png");
}

#photo-2{
  background-image:url("img/drink2.png");
}

#photo-3{
  background-image:url("img/drink3.png");
}

#photo-4{
  background-image:url("img/drink4.png");
}

#photo-5{
  background-image:url("img/drink5.png");
}

.goal {
  display:flex;
  justify-content:center;
  margin-top:100px;
}

.description {
  margin-right:100px;
  margin-left:100px;
  width:300px;
}


.footer{
  height:100px;
  padding:30px;
}

.footer-content-l{
  float:left;
}

.footer-content-r{
  float:right;
}

/* The dots/bullets/indicators */
/*
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
*/

/* Fading animation */
/*
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
*/


.drink-row {
  display:flex;
  justify-content: center;
  margin-top:50px;
  margin-bottom:50px;
  text-align:center;
}

.drink-itm {
  margin-right:25px;
  margin-left:25px;
  width:300px;
}

.drink-itm-pic{
  width:300px;
  height:300px;
}

.walnut-lctn{
  display:flex;
  justify-content:center;
  padding-top:25px;
}

.walnut-lctn-desc{
  margin-left:10px;
  line-height: 0.7;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
  .text {font-size: 11px}
  h1{font-size:20px;}
  h2{font-size: 14px;}
  p{font-size:7px;}
  .photo{
    padding:10px;
  }
  .header{
    display:none;
  }
  .slide-content, .main{
    height:200px;
  }

  .goal {
    margin-top:50px;
  }
  .desc-txt{
    font-size:10px;
  }
  .goal-img{
    display:none;
  }
  .footer{
    height:30px;
    padding:30px;
  }
}